@mixin flex_row($align: center) {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: $align;
    flex-direction: row;
}

@mixin flex_column($justify: center) {
    display: flex;
    justify-content: $justify;
    align-content: center;
    align-items: center;
    flex-direction: column;
}