.button {
    padding: 10px;
    text-align: center;
    color: $blue;
    border-radius: 5px;
    border: 1px solid $blue;

    &:hover {
        background-color: $blue;
        color: $gray;
    }
}